header {
    display: flex;
    justify-content: space-between;
    width: 1111px;
    margin: 0px 0px 0px 165px;
}

.navHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.svgHeader {
    /* margin-left: px; */
}

.navList {
    list-style-type: none;
    display: flex;
    gap: 42px;
    margin: 0px 0px 0px 0px;
}

.navListItem {}

.navLink {
    text-decoration: none;
    font-family: 'Public Sans';
    font-weight: 400;
    font-size: 12px;
    line-height: 14.1px;
    letter-spacing: 2px;
}

.colorGreenMenu {
    color: #5FB4A2;
}

.colorBlackMenu {
    color: #33323D;
}

.footer {
    background-color: #33323D;
    display: flex;
    height: 80px;
}

.navFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.svgFooter {
    margin-left: 165px;
}

.navListMenuFooter {
    list-style-type: none;
    display: flex;
    gap: 43px;
}

.navLinkFooter {
    text-decoration: none;
    font-family: 'Public Sans';
    font-weight: 400;
    font-size: 12px;
    line-height: 14.1px;
    letter-spacing: 2px;
    color: white;
}

.navListIconsFooter {
    list-style-type: none;
    display: flex;
    gap: 15px;
    margin-left: 580px;
}