.imgManageHero {
    width: 1110px;
    height: 500px;
    background-color: #FFEFEC;
    margin: 103px 165px 0px 165px;
}

.divManageProjeto {
    display: flex;
}

.divManage {
    /* width: 100%; */
}

.hrManage {
    width: 350px;
    height: 1px;
    background-color: #33323D;
    mix-blend-mode: normal;
    opacity: 0.15;
    margin: 115px 0px 0px 165px;
}

.h1Manage {
    height: 42px;
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    color: #33323D;
    margin: 48px 0px 0px 165px;
}

.pManage {
    width: 350px;
    height: 120px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #33323D;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin: 29px 0px 0px 165px;
}

.pInteraction {
    width: 350px;
    height: 30px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #5FB4A2;
    margin: 53px 0px 0px 165px;
}

.pHTML {
    width: 350px;
    height: 30px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #5FB4A2;
    margin: 16px 0px 0px 165px;
}

.btnVisitar {
    display: flex;
    width: 178px;
    height: 48px;
    box-sizing: border-box;
    border: 1px solid #33323D;
    margin: 32px 0px 0px 165px;
}

.btnVisitar:hover {
    background-color: #33323D;
}

.btnVisitar:hover a {
    color: white;
}

.aVisitar {
    text-decoration: none;
    height: 14px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    color: #33323D;
    margin: 17px 60px 17px 60px;
    text-align: center;
}

.hrManageBot {
    margin-top: 48px;
}

.h2Projeto {
    height: 42px;
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -0.285714px;
    color: #33323D;
    margin: 115px 0px 0px 125px;
}

.pProjeto {
    width: 635px;
    height: 180px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #33323D;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin: 28px 0px 0px 125px;
}

.h2PreviewsEstaticos {
    height: 42px;
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -0.285714px;
    color: #33323D;
    margin: 40px 0px 0px 125px;
}

.imgManagePreview {
    width: 635px;
    height: 400px;
}

.imgManagePreview1 {
    margin: 28px 0px 0px 125px;
    background-color: #FFEFEC;
}

.imgManagePreview2 {
    margin: 32px 0px 0px 125px;
    background-color: #FFEFEC;
}

.divFyloBookmark {
    width: 1110;
    display: flex;
}

.divFylo {
    width: 50%;
}

.setaEsquerda {
    width: 8px;
    height: 16px;
    margin: 123px 0px 0px 165px;
}

.h2Fylo {
    height: 36px;
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -0.285714px;
    color: #33323D;
    margin: 97px 0px 0px 32px;
}

.pProjetoAnterior {
    width: 118px;
    height: 30px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #33323D;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin: 0px 0px 0px 32px;
}

.aProjetoFylo {
    text-decoration: none;
    color: #33323D;
}

.divBookmark {
    margin-left: ;
}

.h2Bookmark {
    height: 36px;
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -0.285714px;
    color: #33323D;
    margin: 97px 0px 0px 99px;
}

.pProximoProjeto {
    height: 30px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #33323D;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin: 0px 0px 0px 220px;
}

.setaDireita {
    width: 8px;
    height: 16px;
    margin: 123px 0px 0px 32px;
}

.aProjetoBookmark {
    text-decoration: none;
    color: #33323D;
}

.divContato {
    display: flex;
    height: 84px;
    margin: 148px 470px 150px 165px;
    width: 1111px;
}

.divP {
    width: 50%;
}

.pTitulo {
    font-family: 'Ibarra Real Nova';
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.36px;
    width: 367px;
    height: 84px;
    margin-right: 470px;
}

.divBtn {
    width: 50%;
}

.btnContato {
    display: flex;
    border: 1px solid #33323D;
    width: 168px;
    height: 48px;
    box-sizing: border-box;
    margin: 58px 0px 0px 480px;
}

.btnContato:hover {
    background-color: #33323D;
}

.btnContato:hover a {
    color: white;
}

.aContato {
    text-decoration: none;
    color: #33323D;
    font-family: 'Public Sans';
    font-weight: 400;
    font-size: 12px;
    line-height: 14.1px;
    letter-spacing: 2px;
    margin: 15px 50px 15px 50px;
    text-align: center;
}