.listaMenuPdf {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 40px;
}

a {
    text-decoration: none;
}

.aMenuPdf {
    color: #33323D;
    font-family: 'Public Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 14.1px;
    letter-spacing: 2px;
}

.pdf {
    height: 100vh;
}