section {}

.h1Chamada {
    font-family: 'Ibarra Real Nova';
    width: 890px;
    height: 200px;
    font-weight: 400;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.45px;
    margin: 150px 0px 0px 350px;
}

.imgSetaParaBaixo {
    margin: 20px 0px 0px 800px;
}

.btnSobreMim {
    display: flex;
    width: 200px;
    height: 48px;
    background-color: #203A4C;
    margin: 20px 0px 0px 700px;
    border-radius: 10px;
}

.btnSobreMim:hover {
    background-color: #5FB4A2;
}

.divArrowsDown {
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
}

.aSobreMim {
    font-family: 'Public Sans';
    font-weight: 400;
    font-size: 12px;
    line-height: 14.1px;
    letter-spacing: 2px;
    color: #FAFAFA;
    margin: 17px 0px 17px 34px;
    text-align: center;
}

.aColorWhite {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

.sobreSection {
    display: flex;
    width: 100%;
    height: 600px;
}

.divImgProfile {
    width: 540px;
}

.imgProfile {
    width: 640px;
    height: 600px;
    margin: 300px 140px 465px 165px;
}

.divSobreMim {
    width: 100%;
}

.hrSobreMim {
    width: 430px;
    height: 1px;
    margin: 250px 0px 0px 300px;
    background-color: #33323D;
    mix-blend-mode: normal;
    opacity: 0.15;
}

.h1SobreMim {
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    color: #33323D;
    margin: 51px 0px 0px 300px;
}

.pSobreMim {
    font-family: 'Public Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    width: 430px;
    height: 360px;
    margin: 28px 10px 0px 300px;
}

.btnPortfolio {
    display: flex;
    border: 1px solid #33323D;
    border-radius: 10px;
    color: #F2F2F2;
    box-sizing: border-box;
    width: 204px;
    height: 48px;
    margin: 0px 278px 511px 381px;
}

.btnPortfolio:hover,
.btnContato:hover {
    background-color: #33323D;
}

.btnPortfolio:hover a,
.btnContato:hover a {
    color: white;
}

.aPortfolio {
    font-family: 'Public Sans';
    font-weight: 400;
    font-size: 12px;
    line-height: 14.1px;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: center;
    color: #33323D;
    margin: 17px 10px 17px 17px;
}

.divContato {
    display: flex;
    width: 1200px;
    height: 84px;
    margin: 351px 0px 230px 165px;
}

.pTitulo {
    font-family: 'Ibarra Real Nova';
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.36px;
    width: 367px;
    height: 84px;
}

.btnContato {
    display: flex;
    border: 1px solid #33323D;
    border-radius: 10px;
    width: 168px;
    height: 48px;
    box-sizing: border-box;
    margin: 50px 10px 248px 520px;
}

.aContato {
    text-decoration: none;
    color: #33323D;
    font-family: 'Public Sans';
    font-weight: 400;
    font-size: 12px;
    line-height: 14.1px;
    letter-spacing: 2px;
    margin: 15px 50px 15px 50px;
    text-align: center;
}